body {
    background-color: rgb(248, 233, 237);
}

hr {
    border-color: grey;
    border-style: none;
    border-bottom: 4px dotted rgb(233, 108, 108);
    border-width: 5px;
    width: 5%
}
h1 {
    color: #66BF8F;
}

h3 {
    color: #66BF8F;
}